{% extends 'karma/base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
<link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">
<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.css' %}" />
<link rel="stylesheet" href="{% static 'css/ion.rangeSlider.skinFlat.css' %}" />
<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
<link rel="stylesheet" href="{% static 'css/main.css' %}">



	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login/Register</h1>
					<nav class="d-flex align-items-center">
						<a href="{% url 'home' %}">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="{% url 'category_detail' %}">Login/Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of
								this is the</p>
							<a class="primary-btn" href="registration.html">Create an Account</a>
						</div>
					</div>
				</div>
				
				<div class="col-lg-6" >
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<form action="{% url 'login' %}" method="Post" class="row login_form" action="contact_process.php" method="post" id="contactForm"
							novalidate="novalidate">
							{% csrf_token %}
                            <div class="col-md-12 form-group">
								{{form.first_name}}
								
							</div>
                            <div class="col-md-12 form-group">
								{{form.last_name}}
								
							</div>
							<div class="col-md-12 form-group">
								{{form.username}}
								
							</div>
							<div class="col-md-12 form-group">
								{{form.email}}
								
							</div>
                            <div class="col-md-12 form-group">
								{{form.password1}}
								
							</div>
                            <div class="col-md-12 form-group">
								{{form.password2}}
								
							</div>
                           
							
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Log In</button>
								<a href="#">Forgot Password?</a>
							</div>
						</form>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->


	<script src="{% static 'ui/vendor/jquery-2.2.4.min.js'%}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
		integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
		crossorigin="anonymous"></script>
	<script src="{% static 'ui/vendor/vendor/bootstrap.min.js'%}"></script>
	<script src="{% static 'ui/vendor/jquery.ajaxchimp.min.js'%}"></script>
	<script src="{% static 'ui/jquery.nice-select.min.js'%}"></script>
	<script src="{% static 'ui/jquery.sticky.js'%}"></script>
	<script src="{% static 'ui/nouislider.min.js'%}"></script>
	<script src="{% static 'ui/countdown.js'%}"></script>
	<script src="{% static 'ui/jquery.magnific-popup.min.js'%}"></script>
	<script src="{% static 'ui/owl.carousel.min.js'%}"></script> 
	<!--gmaps Js-->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script> 
	<script src="{% static 'ui/gmaps.min.js'%}"></script>
	<script src="{% static 'ui/main.js'%}"></script> 

{% endblock %}